body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: helvetica;
  color: #aaa;
}

.player {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-transform-origin: 50% 50%;
}

.rotating {
  animation: slowtate 60s infinite;
  -webkit-animation: slowtate 60s infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

@keyframes slowtate {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

@-webkit-keyframes slowtate {
    from {-webkit-transform: rotate(360deg);}
    to   {-webkit-transform: rotate(0deg);}
}

.player.transformed {

}

.shape {
  display: block;
  position: absolute;
  width: 8vh;
  height: 8vh;
  border: 1px solid #5ce;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  -webkit-transform: translate(-50%, -50%) rotate(10deg);
  transition: all 1500ms;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transition-timing-function: cubic-bezier(0.5, -0.2, 0.5, 1.2);
  -webkit-transition-timing-function: cubic-bezier(0.5, -0.2, 0.5, 1.2);
}

div[class*='clone'], div[class*=' clone'] {
}

.square {
  border-radius: 10%;
}

.circle {
  border-radius: 100%;
}

.triangle, .hexagon {
  border: none;
}

.triangle #triangleShape {
  display: block;
}

.hexagon #hexagonShape {
  display: block;
}

#triangleShape, #hexagonShape {
  display: none;
  stroke: #5ce;
  fill: none;
  stroke-width: 1px;
}

input[type='range'] {
  -webkit-appearance: none;
  height: 16px;
  background: rgba(0,0,0,.5);
  outline: none;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-thumb {
  background: #545;
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 100%;
}

input[type='range'].switch {
  height: 20px;
  width: 40px;
}

input[type='range'].switch::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
}

.controls {
  display: flex;
  position: relative;
  z-index: 5;
  width: 200px;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  background: rgba(40,35,40,.85);
}

a.button {
  flex-grow: 0;
  display: block;
  position: relative;
  z-index: 99;
  color: #aaa;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(50,50,50,.5);
}

.label, .sliderLabel {
  display: flex;
  width: 100%;
  font-size: .75em;
}

.sliderValue {
  text-align: right;
  flex-grow: 1;
}

.shapeContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.shapeSwitch {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#squareSwitch, #circleSwitch {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 26px;
  height: 26px;
}

#circleSwitch {
  border-radius: 100%;
}

#triangleSwitch #triangleShape, #hexagonSwitch #hexagonShape {
  display: block;
  stroke: #fff;
  stroke-width: 6px;
  width: 100%;
  height: 100%;
}